In [3]:
import os
for i,j,k in os.walk("."):
    print(i,j,k)

. [] ['company_detector.py', 'deepl_glossary.py', 'deepl_translate.py', 'generate_links.py', 'Main Page.html', 'main.py', 'New Player Missions.html', 'table_html2md.py', 'test.csv', 'test.html', 'test.ipynb', 'test_glossary.txt', 'wiki_crawler.py']

In [54]:
import pandas as pd
df = pd.read_csv("test.csv")
df

,序号,日期,Training Contract,Protection Contract,Engagement Contract,Military Contract,生产日期,收入,工资,广告费,利润,总效率,Unnamed: 12,产量,销量,库存,单价,成本,记录时间
0,1,2023/1/16,"500,000","3,000,000","8,000,000","15,000,000",1,2023/1/16,"$4,000,000","$2,774,000","$501,101","$724,899",434,3,3,0,"$1,333,333",$0,2023/1/17 7:08
1,2,2023/1/17,"500,000","3,000,000","7,000,000","15,000,000",2,2023/1/17,"$7,000,000","$3,363,000","$501,101","$3,135,899",523,1,1,0,"$7,000,000",$0,2023/1/18 8:33
2,3,2023/1/18,"500,000","3,000,000","8,000,000","15,000,000",3,2023/1/18,"$8,000,000","$4,383,000","$501,101","$3,115,899",710,1,1,0,"$8,000,000",$0,2023/1/19 2:20
3,4,2023/1/19,"500,000","3,000,000","8,000,000","13,000,000",4,2023/1/19,"$8,000,000","$4,353,000","$501,101","$3,145,899",748,1,1,0,"$8,000,000",$0,2023/1/20 6:36
4,5,2023/1/20,"500,000","3,000,000","8,000,000","10,000,000",5,2023/1/20,"$10,000,000","$6,540,000","$501,101","$2,958,899",837,1,1,0,"$10,000,000",$0,2023/1/21 9:44
5,6,2023/1/21,"500,000","3,000,000","8,000,000","12,000,000",6,2023/1/21,"$12,000,000","$6,700,000","$501,101","$4,798,899",853,1,1,0,"$12,000,000",$0,2023/1/22 8:03
6,7,2023/1/22,"500,000","3,000,000","8,000,000","12,000,000",7,2023/1/22,"$13,000,000","$7,730,000","$501,101","$4,768,899",930,1,1,0,"$13,000,000",$0,2023/1/23 8:32
7,8,2023/1/23,"500,000","3,000,000","8,000,000","24,000,000",8,2023/1/23,"$11,000,000","$7,730,000","$501,101","$2,768,899",930,2,2,0,"$5,500,000",$0,2023/1/24 10:36
8,9,2023/1/24,"500,000","3,000,000","8,000,000","20,000,000",9,2023/1/24,"$20,000,000","$8,280,000","$501,101","$11,218,899",954,1,1,0,"$20,000,000",$0,2023/1/25 8:38

In [55]:
df["日期"].loc[1]

'2023/1/17'

In [17]:
import datetime
now = datetime.datetime.now()

In [63]:
a = df[df["日期"]=="2023/1/17"].index[0]

In [65]:
df.shape

(9, 19)